[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/solidity-lib"]
	path = lib/solidity-lib
	url = https://github.com/uniswap/solidity-lib
[submodule "lib/v3-periphery-foundry"]
	path = lib/v3-periphery-foundry
	url = https://github.com/gakonst/v3-periphery-foundry
[submodule "lib/solidity-stringutils"]
	path = lib/solidity-stringutils
	url = https://github.com/arachnid/solidity-stringutils
[submodule "lib/oz"]
	path = lib/oz
	url = https://github.com/openzeppelin/openzeppelin-contracts
	branch = merge/release-v5.0
[submodule "lib/diamond-2-hardhat"]
	path = lib/diamond-2-hardhat
	url = https://github.com/gemstation/diamond-2-hardhat
	branch = gemforge-2
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/v4-periphery"]
	path = lib/v4-periphery
	url = https://github.com/Uniswap/v4-periphery
[submodule "lib/v4-core"]
	path = lib/v4-core
	url = https://github.com/Uniswap/v4-core
