[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/solidity-lib"]
	path = lib/solidity-lib
	url = https://github.com/uniswap/solidity-lib
[submodule "lib/ozv4"]
	path = lib/ozv4
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/v3-periphery-foundry"]
	path = lib/v3-periphery-foundry
	url = https://github.com/gakonst/v3-periphery-foundry
[submodule "lib/solidity-stringutils"]
	path = lib/solidity-stringutils
	url = https://github.com/arachnid/solidity-stringutils
[submodule "lib/v3-peri-08"]
	path = lib/v3-peri-08
	url = https://github.com/Uniswap/v3-periphery
	branch = 0.8
[submodule "lib/v3-core-08"]
	path = lib/v3-core-08
	url = https://github.com/Uniswap/v3-core
	branch = 0.8
